<!-- HTML IS ONLY USED TO DISPLAY FIELDS NOTHING ESLE -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- FORMGEROUP TELLS HTML TO USE MY TS FORM NOT THE HTML ONE -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />

            <span class="help-block" *ngIf="!registerForm.get('userData.username').valid && registerForm.get('userData.username').touched">
              <span *ngIf="registerForm.get('userData.username').errors['required']" class="help-block">This is required</span>
              <span *ngIf="registerForm.get('userData.username').errors['nameIsForbidden']" class="help-block">This is invalid</span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <span *ngIf="!registerForm.get('userData.email').valid && registerForm.get('userData.email').touched" class="help-block" >
                <span *ngIf="registerForm.get('userData.email').errors['emailIsForbidden']">Email band</span>
                <span *ngIf="registerForm.get('userData.email').errors['required']">Field Required</span>
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender" />{{
              gender
            }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <br />
          <h4>Your Hobbies</h4>
          <button
            class="btn btn-default"
            (click)="onAddHobbies()"
            type="button"
          >
            Add Hobby
          </button>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              *ngFor="
                let hobbyControl of registerForm.get('hobbies').controls;
                let i = index
              "
              [formControlName]="i"
            />
          </div>
        </div>
        <br />
        <button
          [disabled]="!registerForm.valid"
          class="btn btn-primary"
          type="submit"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
