<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/Servers', server.id]"       
         routerLinkActive="active"
      class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <ng-template>
    <p>error loading</p>
  </ng-template>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>


    <!-- <app-edit-server></app-edit-server>
    <hr>
     <app-server></app-server>
  </div> -->
  </div>
